---
// Solution Section
// ------------
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
import { Icon } from 'astro-icon/components'
import { Image } from 'astro:assets'
import electricGridImg from '../../../assets/powerlines-upscaled.png'
import SectionWithImage from '../../ui/SectionWithImage.astro'

const bulletPoints: { icon: string; text: string }[] = [
	{
		icon: 'chart-pie',
		text: 'Connection point ranking and prioritization'
	},
	{
		icon: 'file-chart-column-increasing',
		text: 'Congestion and redispatch exposure analysis'
	},
	{
		icon: 'gauge',
		text: 'Capacity and regulatory signal mapping'
	},
	{
		icon: 'bolt',
		text: 'Strategic support for BESS and flexible assets'
	}
]
---

<SectionWithImage
	id="solution"
	mode="light"
	image={electricGridImg}
	imageAlt="Symmetrical view of high voltage power lines and transmission towers extending into the horizon against a crisp morning sky"
	reverse
	imageClasses="grayscale"
>
	<Row>
		<Col span="12" classes="relative z-10 flex flex-col justify-center lg:pl-12">
			<h2
				class="mb-6 max-w-xl font-headings text-3xl font-bold leading-tight text-primary-700 lg:text-4xl"
			>
				Advanced Capacity Intelligence
			</h2>
			<p class="mb-10 max-w-xl leading-relaxed text-neutral-600 dark:text-neutral-400">
				Our proprietary analytics framework evaluates congestion exposure, connection constraints,
				and capacity signals across Germany’s transmission network to support faster and more
				informed siting decisions for BESS and flexible assets.
			</p>
			<ul class="space-y-8">
				{
					bulletPoints.map((point) => (
						<li class="flex items-center gap-3">
							<Icon name={point.icon} class="h-6 w-6 shrink-0 text-primary-700" />
							<div>
								<h3 class="text-lg text-neutral-600">{point.text}</h3>
							</div>
						</li>
					))
				}
			</ul>
		</Col>
	</Row>
</SectionWithImage>
