---
import { Image } from 'astro:assets'
import Col from '../../ui/Col.astro'
import Row from '../../ui/Row.astro'
import Section from '../../ui/Section.astro'
import cubeGridImg from '../../../assets/cube-grid-electric.webp'
import { Icon } from 'astro-icon/components'
---

<Section id="strategy-engineering" classes="bg-white py-16 lg:py-28 dark:bg-neutral-950">
	<Row classes="mb-16 text-center">
		<Col span="8" classes="lg:col-start-3">
			<h2 class="font-headings text-3xl font-bold leading-tight lg:text-4xl">Areas of support</h2>
		</Col>
	</Row>
	<Row classes="gap-6">
		<Col span="8">
			<div
				class="flex h-full flex-col justify-between border border-neutral-200 bg-neutral-50 p-10 dark:border-neutral-800 dark:bg-neutral-900"
			>
				<div>
					<h3 class="mb-4 font-headings text-2xl font-bold">Interactive Heatmaps</h3>
					<p class="max-w-md leading-relaxed text-neutral-600 dark:text-neutral-400">
						Visualize grid congestion patterns across the national network in real-time with
						sub-station granularity.
					</p>
				</div>
				<div class="mt-12 overflow-hidden border border-neutral-200 dark:border-neutral-800">
					<Image src={cubeGridImg} alt="Interactive Heatmap" class="w-full object-cover" />
				</div>
			</div>
		</Col>
		<Col span="4">
			<div class="flex h-full flex-col justify-between bg-accent-500 p-10 text-neutral-600">
				<Icon name="bolt" class="h-12 w-12 text-accent-800" />
				<div>
					<h3 class="mb-4 font-headings text-2xl font-bold">Rapid Siting</h3>
					<p class="leading-relaxed">
						Reduce site identification time from weeks to seconds with our AI-driven GIS tools.
					</p>
				</div>
			</div>
		</Col>
	</Row>
</Section>
